@model CarDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Make} {Model.Model}";
}

<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="@Model.ImageUrl" alt="@Model.Make @Model.Model" />
    </div>

    <div class="col-md-6">
        <h2>@Model.Make @Model.Model</h2>
        <h4>Year: @Model.Year - $@Model.Price</h4>
        <small><em>Added by @Model.Username</em></small>

        @if (User.Identity.IsAuthenticated && Model.Username == User.Identity.Name)
         {
              <a class="btn btn-danger" asp-controller="Cars" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
         }
    </div>
</div>